body {
	margin: 0;
	background-color: #2d2d2d;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: white;
	font-family: 'DM Serif Display', serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #ffd000;
}

.company img {
	filter: grayscale(1);
}

.company img:hover {
	filter: grayscale(0);
}

.company-images {
	padding: 0;
}
